<%= content_tag :h2, "#{@user.username}'s profile" %>

<dl class="row">
  <dt class="col-md-3">Profile image</dt>
  <dd class="col-md-9"><%= image_tag @user.gravatar_url %></dd>

  <dt class="col-md-3">Username</dt>
  <dd class="col-md-9"><%= @user.username %></dd>

  <dt class="col-md-3">Country</dt>
  <dd class="col-md-9">
    <% if @user.country_code.blank? %>
      <%= fa_icon 'question-circle', text: 'Unknown', class: 'fa-fw' %>
    <% else %>
      <%= @user.country.emoji_flag %>
      <span>
        <%= @user.country.name %>
      </span>
    <% end %>
  </dd>

  <dt class="col-md-3">Solved challenges</dt>
  <dd class="col-md-9">
    <%= link_to user_solutions_path(@user) do %>
      <%= @user.solutions_count %>
    <% end %>
  </dd>

  <dt class="col-md-3">Badges</dt>
  <dd class="col-md-9">
    <%= render 'badges', badges: @user.badges %>
  </dd>
</dl>
