<% title "#{@user.username}'s profile" %>
<%= content_tag :h2, "#{@user.username}'s profile" %>

<dl class="row">
  <dt class="col-md-3">
    <%= fa_icon('picture-o', text: 'Profile image', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9"><%= image_tag @user.gravatar_url %></dd>

  <dt class="col-md-3">
    <%= fa_icon('user-secret', text: 'Username', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9"><%= @user.username %></dd>

  <dt class="col-md-3">
    <%= fa_icon('user', text: 'Name', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9">
    <%= @user.name || fa_icon('question-circle', text: 'Unknown', class: 'fa-fw') %>
  </dd>

  <dt class="col-md-3">
    <%= fa_icon('map-marker', text: 'Country', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9">
    <% if @user.country_code? %>
      <%= @user.country.emoji_flag %>
      <span>
        <%= @user.country.name %>
      </span>
    <% else %>
      <%= fa_icon 'question-circle', text: 'Unknown', class: 'fa-fw' %>
    <% end %>
  </dd>

  <dt class="col-md-3">
    <%= fa_icon('calendar', text: 'Joined', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9"><%= time_tag(@user.created_at.to_date) %></dd>

  <dt class="col-md-3">
    <%= fa_icon('trophy', text: 'Rank', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9"><%= @user.rank %></dd>

  <dt class="col-md-3">
    <%= fa_icon('check-circle', text: 'Solved challenges', class: 'fa-fw') %>
  </dt>
  <dd class="col-md-9">
    <%= link_to user_solutions_path(@user) do %>
      <%= @user.solutions_count %>
    <% end %>
  </dd>
</dl>
