<% title "#{@user.username}'s profile" %>

<div class="card">
  <div class="card-body">
    <%= content_tag :h1, "#{@user.username}'s profile", class: "card-title" %>
    <dl class="row">
      <dt class="col-md-3">
        <i class="fas fa-portrait fa-fw"></i> Profile image
      </dt>
      <dd class="col-md-9"><%= image_tag @user.gravatar_url %></dd>

      <dt class="col-md-3">
        <i class="fas fa-user-secret fa-fw"></i> Username
      </dt>
      <dd class="col-md-9"><%= @user.username %></dd>

      <dt class="col-md-3">
        <i class="fas fa-user fa-fw"></i> Name
      </dt>
      <dd class="col-md-9">
        <%= @user.name || "<i class=\"fas fa-question-circle fa-fw\"></i> Unknown".html_safe %>
      </dd>

      <dt class="col-md-3">
        <i class="fas fa-map-marker fa-fw"></i> Country
      </dt>
      <dd class="col-md-9">
        <% if @user.country_code? %>
          <%= @user.country.emoji_flag %>
          <span>
            <%= @user.country.name %>
          </span>
        <% else %>
          <i class="fas fa-question-circle fa-fw"></i> Unknown
        <% end %>
      </dd>

      <dt class="col-md-3">
        <i class="fas fa-user-plus fa-fw"></i> Joined
      </dt>
      <dd class="col-md-9"><%= time_tag(@user.created_at.to_date) %></dd>

      <dt class="col-md-3">
        <i class="fas fa-trophy-alt fa-fw"></i> Rank
      </dt>
      <dd class="col-md-9"><%= @user.rank %></dd>

      <dt class="col-md-3">
        <i class="fas fa-check-circle fa-fw"></i> Solved challenges
      </dt>
      <dd class="col-md-9">
        <%= link_to user_solutions_path(@user) do %>
          <%= @user.solutions_count %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
