<% title "#{@user.username}'s profile" %>

<div class="card">
  <div class="card-body">
    <%= content_tag :h1, "#{@user.username}'s profile", class: "card-title" %>
    <dl class="row">
      <dt class="col-md-3"><i class="fas fa-portrait fa-fw"></i> Profile image
      <dd class="col-md-9"><%= image_tag @user.gravatar_url %>
      <dt class="col-md-3"><i class="fas fa-user-secret fa-fw"></i> Username
      <dd class="col-md-9"><%= @user.username %>
      <dt class="col-md-3"><i class="fas fa-user fa-fw"></i> Name
      <dd class="col-md-9"><%= @user.name || "<i class=\"fas fa-question-circle fa-fw\"></i> Unknown".html_safe %>
      <dt class="col-md-3"><i class="fas fa-map-marker fa-fw"></i> Country
      <dd class="col-md-9">
        <% if @user.country_code? %>
          <%= @user.country.emoji_flag %>
          <span>
            <%= @user.country.iso_short_name %>
          </span>
        <% else %>
          <i class="fas fa-question-circle fa-fw"></i> Unknown
        <% end %>
      <dt class="col-md-3"><i class="fas fa-user-plus fa-fw"></i> Joined
      <dd class="col-md-9"><%= time_tag(@user.created_at.to_date) %>
      <dt class="col-md-3"><i class="fas fa-trophy-alt fa-fw"></i> Rank
      <dd class="col-md-9"><%= @user.rank %>
      <dt class="col-md-3"><i class="fas fa-check-circle fa-fw"></i> Solved challenges
      <dd class="col-md-9"><%= link_to @user.solutions_count, user_solutions_path(@user) %>
    </dl>
  </div>
</div>
