<div class="card">
  <div class="card-header justify-content-between">
    <%= content_tag :h4, @challenge.name %>
    <%= render 'badges', challenge: @challenge, show_category: true %>
  </div>
  <div class="card-block">
    <%= raw @challenge.body %>
  </div>
  <div class="card-footer">
    <%= form_tag(challenge_solutions_path(@challenge), method: "post") do %>
      <%= content_tag(:div, text_field_tag(:answer, nil, class: "form-control", placeholder: "Enter answer"), class: "form-group") %>
      <%= submit_tag("Submit", class: "btn btn-primary", id: "submit-answer") %>
    <% end %>
  </div>
</div>
