<div class="card">
  <div class="card-header justify-content-between">
    <%= content_tag :h4, @challenge.name %>
    <%= render 'badges', challenge: @challenge, show_category: true %>
  </div>
  <div class="card-block">
    <%= raw @challenge.body %>
  </div>
  <div class="card-footer">
    <%= form_tag(challenge_solutions_path(@challenge), method: "post") do %>
      <div class="form-group">
        <%= label_tag :answer %>
        <%= text_field_tag :answer, nil, class: 'form-control', placeholder: "Enter answer" %>
      </div>
      <%= submit_tag("Solve", class: "btn btn-primary", id: "submit-answer") %>
    <% end %>
  </div>
</div>
