<div class="card mt-4">
  <h2 class="card-header">
    <%= @challenge.name %>
    <% if user_signed_in? %>
      <% if current_user.solved_challenges.include? @challenge %>
        <span class="badge badge-success">Solved</span>
      <% else %>
        <span class="badge badge-warning">Unsolved</span>
      <% end %>
    <% end %>
  </h2>
  <div class="card-block">
    <%= raw @challenge.body %>
  </div>
  <div class="card-footer">
    <%= form_tag(solve_challenge_path(@challenge), method: "post") do %>
    <%= content_tag(:div, text_field_tag(:answer, nil, class: "form-control", placeholder: "Enter answer"), class: "form-group") %>
      <%= submit_tag("Submit", class: "btn btn-primary", id: "submit-answer") %>
    <% end %>
  </div>
</div>
