<% title "#{@challenge.name} | Challenges" %>
<div class="card">
  <div class="card-header">
    <%= content_tag :h4, @challenge.name %>
    <%= render 'badges', challenge: @challenge, show_category: true %>
  </div>
  <div class="card-body">
    <%= raw @challenge.body %>
  </div>
  <div class="card-footer">
    <%= form_tag(challenge_solutions_path(@challenge), method: "post", id: 'solve-form') do %>
    <div class="form-group">
      <%= label_tag :answer %>
      <%= text_field_tag :answer, nil, class: 'form-control', placeholder: "Enter answer" %>
    </div>
    <script>
      function submitSolveForm() {
        var form = document.getElementById("solve-form");
        form.submit();
      }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <%= button_tag("Solve", class: "g-recaptcha btn btn-primary", id: "submit-answer", data: { sitekey: Rails.application.secrets.recaptcha_site_key, callback: 'submitSolveForm' }) %>
    <% end %>
  </div>
</div>
