<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @solution.user %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @solution.challenge %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
