<footer class="footer bg-primary text-center mt-4">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'Home', root_path %>
          <li><%= link_to 'Challenges', challenges_path %>
          <li><%= link_to 'Leaderboard', leaderboard_path %>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Get to know us</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'About Hacker Gateway', about_path %>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'FAQs', faqs_path %>
          <li><%= mail_to 'support@hackergateway.com', 'Contact' %>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'Privacy', policies_privacy_path %>
          <li><%= link_to 'Terms', policies_terms_path %>
        </ul>
      </div>
    </div>
  </div>
  <div class="social-networks py-3">
    <ul class="list-inline">
      <li class="list-inline-item px-4">
        <a href="https://www.facebook.com/HackerGateway" target="_blank" rel="noopener" class="facebook" aria-label="Facebook">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      <li class="list-inline-item px-4">
        <a href="https://twitter.com/HackerGateway" target="_blank" rel="noopener" class="twitter" aria-label="Twitter">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      <li class="list-inline-item px-4">
        <a href="https://github.com/jprinaldi/hackergateway" target="_blank" rel="noopener" class="github" aria-label="GitHub">
          <i class="fab fa-github fa-2x"></i>
        </a>
    </ul>
  </div>
  <div class="footer-copyright py-3">
    <p class="m-0">© 2017 Hacker Gateway
  </div>
</footer>
