<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo-navbar.png', size: 28 %>
    <span>Hacker Gateway</span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= nav_item challenges_path do %>
        <%= fa_icon 'star', text: 'Challenges', class: 'fa-fw' %>
      <% end %>
      <%= nav_item leaderboard_path do %>
        <%= fa_icon 'trophy', text: 'Leaderboard', class: 'fa-fw' %>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon 'user', text: current_user.username, class: 'fa-fw' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to current_user, class: 'dropdown-item' do %>
              <%= fa_icon 'eye', text: 'View profile', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <%= fa_icon 'pencil', text: 'Edit profile', class: 'fa-fw' %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <%= fa_icon 'sign-out', text: 'Sign out', class: 'fa-fw' %>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link' do %>
            <%= fa_icon 'sign-in', text: 'Sign in', class: 'fa-fw' %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <%= fa_icon 'user-plus', text: 'Sign up', class: 'fa-fw' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
