<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= display_meta_tags site: 'Hacker Gateway', reverse: true %>
<%= csrf_meta_tags %>
<%= render 'application/favicon' %>
<%= stylesheet_link_tag    'application', media: :all, data: { turbolinks_track: :reload } %>
<%= analytics_init(skip_pageview: true) if GoogleAnalytics.valid_tracker? %>
<%= javascript_include_tag 'application', data: { turbolinks_track: :reload } %>
<%= javascript_include_tag 'https://kit.fontawesome.com/df0400c287.js', crossorigin: :anonymous, data: { mutate_approach: :sync } %>
<%= render 'layouts/navbar' %>
<div id="main-container" class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
