<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= display_meta_tags site: 'Hacker Gateway', reverse: true %>
<%= csrf_meta_tags %>
<%= render 'application/favicon' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.4.1/css/all.css", rel: "stylesheet",integrity: "sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum", crossorigin: "anonymous", 'data-turbolinks-track': 'reload' %>
<%= analytics_init(skip_pageview: true) if GoogleAnalytics.valid_tracker? %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/navbar' %>
<div id="main-container" class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
