<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: 'Hacker Gateway', reverse: true %>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init(skip_pageview: true) if GoogleAnalytics.valid_tracker? %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xl-2 push-xl-10 mb-4">
          <%= render 'layouts/adblock' %>
          <%= render 'layouts/adsense' %>
        </div>
        <div class="col-xl-10 pull-xl-2">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
